{% extends 'layouts/base-start.html' %}

{% block title %} Inventory {% endblock title %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4" style="max-width: 900px; margin: 0 auto;">
        <div class="card-body px-4 pt-4 pb-2">
          <h1 class="text-center">Add product to database</h1>
            <!-- Step 1 -->
            <div id="step-1" class="col-12">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="form-group mb-3 visually-hidden">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcodeInputField" name="barcodeInputField" required>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <p style="font-size: 16px; margin-bottom: 5px;">Scan the barcode of the product</p>
                    <img src="https://static.thenounproject.com/png/74445-200.png" alt="" style="max-width: 150px; margin: 0 auto;">
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <a href="/admin-inventory" class="btn btn-dark mt-3 me-2" style="width: 150px;">Back</a>
                <a onclick="showStep4()" class="btn btn-dark mt-3 me-2" style="width: 180px;">Enter Manually</a>
                <!-- <button type="button" class="btn btn-dark mt-3" onclick="showStep2()" style="width: 150px;">Continue</button> -->
              </div>
            </div>

            <!-- Step 2 -->
            <div id="step-2" class="col-12 d-none">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group mb-3">
                    <label for="product-name">Product Name</label>
                    <input type="text" class="form-control" id="product-name" name="product_name" required>
                  </div>
                  <div class="form-group mb-3">
                    <label for="price-bought">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input type="text" class="form-control" id="price-bought" name="price_bought" step="0.01"  required>
                    </div>
                </div>
                  <div class="form-group mb-3">
                    <label for="url-bought">Website URL</label>
                    <div class="input-group">
                      <input type="text" class="form-control" value="https://www." id="url-bought" name="url_bought" required>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label for="category">Category</label>
                    <input list="category-options" class="form-control" id="category" name="category" required>
                    <datalist id="category-options">

                    </datalist>
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-3">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1" onkeypress="allowNumbersOnly(event)" required>
                  </div>
                  <div class="form-group mb-3">
                    <label for="quantity-not-available">Quantity Not Available for Borrowing</label>
                    <input type="number" class="form-control" id="quantity-not-available" min="0" name="quantity_not_available" value="0" onkeypress="allowNumbersOnly(event)" required>
                  </div>
                  <div class="form-group mb-3">
                    <label for="manufacturer">Manufacturer</label>
                    <input list="manufacturer-options" class="form-control" id="manufacturer" name="manufacturer" required>
                    <datalist id="manufacturer-options">

                    </datalist>
                  </div>
                  <div class="form-group mb-3">
                    <label for="vendor">Vendor</label>
                    <input list="vendor-options" class="form-control" id="vendor" name="vendor" required>
                    <datalist id="vendor-options">

                    </datalist>
                  </div>
                  <div class="form-group mb-3">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-3">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcodeStep2" name="barcode" required>
                  </div>
                  <div class="form-group mb-3">
                    <label for="document">Document</label>
                    <input type="file" class="form-control" id="document" name="document" accept=".pdf,.doc,.docx" required>
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <button type="button" class="btn btn-dark mt-3 me-2" onclick="showStep1()" style="width: 150px;">Back</button>
                <button type="submit" id="addProductButton" class="btn btn-dark mt-3" style="width: 150px;">Add Product</button>
              </div>
            </div>


          <!-- Step 3 -->
          <div id="step-3" class="col-12 d-none">
            <div class="row">
              <div class="col-md-12 text-center">
                <h4 id="product-title"></h4>
                <p>This product already exists in the database. Add details to change</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="quantity-to-add">Quantity to Add</label>
                  <input type="number" class="form-control required-field" id="quantity-to-add" name="quantity_to_add" min="1" value="1" onkeypress="allowNumbersOnly(event)" required>
                </div>
                <div class="form-group mb-3">
                  <label for="quantity-unavailable-to-add">Quantity Unavailable to Add</label>
                  <input type="number" class="form-control required-field" id="quantity-unavailable-to-add" name="quantity_unavailable_to_add" min="0" value="0" onkeypress="allowNumbersOnly(event)" required>
                </div>
                <div class="form-group mb-3">
                  <label for="latest-price">Latest Price</label>
                  <div class="input-group">
                    <span class="input-group-text">€</span>
                    <input type="text" class="form-control required-field" id="latest-price" name="latest_price" step="0.01" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="barcode">Barcode</label>
                  <input type="text" class="form-control required-field" id="barcodeStep3" name="barcode" required>
                </div>
                <div class="form-group mb-3">
                  <label for="vendor">Vendor</label>
                  <input list="vendor-options" class="form-control required-field" id="vendor" name="vendor" required>
                  <datalist id="vendor-options">
                  </datalist>
                </div>
                <div class="form-group mb-3">
                  <label for="latest-url">Latest Website URL</label>
                  <input type="url" class="form-control required-field" value="https://www." id="latest-url" name="latest_url" required>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-dark mt-3 me-2" onclick="showStep1()" style="width: 150px;">Back</button>
              <button type="submit" id="updateProductButton" class="btn btn-dark mt-3" style="width: 150px;">Update</button>
            </div>
          </div>


          <!-- Step 4 -->
          <div id="step-4" class="col-12 d-none text-center">
            <div style="margin-bottom: 10px;">
              <p style="font-size: 16px; margin-bottom: 5px;">Enter the barcode of the product</p>
              <img src="https://static.thenounproject.com/png/74445-200.png" alt="" style="max-width: 150px; margin: 0 auto;">
            </div>
            <div class="d-flex justify-content-center form-group">
              <input type="text" class="form-control" id="barcodeInputFieldStep4" onkeyup="enableContinue('step4continue', 'barcodeInputFieldStep4')" name="barcodeInputField" style="width: 250px; text-align: left;" required>
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-dark mt-3 me-2" onclick="showStep1()" style="width: 150px;">Back</button>
              <button id="step4continue" type="button" class="btn btn-dark mt-3" style="width: 150px;" onclick="checkBarcode('barcodeInputFieldStep4')" >Continue</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    document.getElementById("price-bought").addEventListener('keypress', priceOnly);
    document.getElementById("latest-price").addEventListener('keypress', priceOnly);

    // disable continue step 4 button
    document.getElementById("step4continue").disabled = true;

    function updateMaxQuantityNotAvailable() {
		const quantity = document.getElementById("quantity").value;
		const quantityNotAvailableInput = document.getElementById("quantity-not-available");

		quantityNotAvailableInput.max = quantity;
		validateQuantities();
	}

    function updateMaxQuantityUnavailableToAdd() {
        const quantityToAdd = document.getElementById("quantity-to-add").value;
        const quantityUnavailableToAddInput = document.getElementById("quantity-unavailable-to-add");

        quantityUnavailableToAddInput.max = quantityToAdd;
        validateQuantities();
    }

	// Attach event listeners to validate quantities
	document.getElementById("quantity-not-available").addEventListener('input', validateQuantities);
	document.getElementById("quantity-unavailable-to-add").addEventListener('input', validateQuantities);

	// Initial validation call
	validateQuantities();

	// Attach event listeners to Quantity input fields
	document.getElementById("quantity").addEventListener('input', updateMaxQuantityNotAvailable);
	document.getElementById("quantity-to-add").addEventListener('input', updateMaxQuantityUnavailableToAdd);

	// Initial call to set max attributes on page load
	updateMaxQuantityNotAvailable();
	updateMaxQuantityUnavailableToAdd();

    function validateQuantities() {
        const quantity = document.getElementById("quantity").value;
        const quantityNotAvailable = document.getElementById("quantity-not-available").value;
        const addProductButton = document.getElementById("addProductButton");

        if (parseInt(quantityNotAvailable) > parseInt(quantity)) {
            addProductButton.disabled = true;
            document.getElementById("quantity-not-available").setCustomValidity("Quantity Not Available cannot be higher than Quantity.");
        } else {
            addProductButton.disabled = false;
            document.getElementById("quantity-not-available").setCustomValidity("");
        }

        const quantityToAdd = document.getElementById("quantity-to-add").value;
        const quantityUnavailableToAdd = document.getElementById("quantity-unavailable-to-add").value;
        const updateProductButton = document.getElementById("updateProductButton");

        if (parseInt(quantityUnavailableToAdd) > parseInt(quantityToAdd)) {
            updateProductButton.disabled = true;
            document.getElementById("quantity-unavailable-to-add").setCustomValidity("Quantity Not Available cannot be higher than Quantity.");
        } else {
            updateProductButton.disabled = false;
            document.getElementById("quantity-unavailable-to-add").setCustomValidity("");
        }
    }

    function enableContinue(button, inputField) {
        const inputValue = document.getElementById(inputField).value.trim();
        const continueButton = document.getElementById(button);
        if (inputValue) {
          continueButton.disabled = false; // Enable button if input is not empty
        } else {
          continueButton.disabled = true; // Otherwise, disable button
        }
    }

    function priceOnly(e) {
        const keyCode = e.keyCode || e.which;
        const inputValue = e.target.value;

        // Allow digits, backspace, and the first dot or comma
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46 && keyCode !== 44 && keyCode !== 8) {
            e.preventDefault();
        }

        // Prevent more than one dot or comma
        if ((inputValue.includes('.') || inputValue.includes(',')) && (keyCode === 46 || keyCode === 44)) {
            e.preventDefault();
        }

        // Limit to two decimal places
        if ((inputValue.includes('.') || inputValue.includes(',')) && inputValue.split(/[.,]/)[1]?.length >= 2) {
            e.preventDefault();
        }
    }

    function allowNumbersOnly(event) {
        const keyCode = event.keyCode || event.which;
        if (keyCode < 48 || keyCode > 57) {
            event.preventDefault();
        }
    }

    function showStep1() {
        document.getElementById('step-1').classList.remove('d-none');
        document.getElementById('step-2').classList.add('d-none');
        document.getElementById('step-3').classList.add('d-none');
        document.getElementById('step-4').classList.add('d-none');
    }

    function showStep2(data) {
        document.getElementById('step-1').classList.add('d-none');
        document.getElementById('step-2').classList.remove('d-none');
        document.getElementById('step-3').classList.add('d-none');
        document.getElementById('step-4').classList.add('d-none');

        // Populate the barcode input field with the scanned value
        document.getElementById('barcodeStep2').value = data.barcode;

        fetch(`${window.location.origin}/api/get-options`)
            .then(response => response.json())
            .then(data => {
                const { manufacturers, categories, vendors } = data;

                populateDatalist('manufacturer-options', manufacturers);
                populateDatalist('category-options', categories);
                populateDatalist('vendor-options', vendors);
            });
    }

    function showStep3(data) {
        document.getElementById('step-1').classList.add('d-none');
        document.getElementById('step-2').classList.add('d-none');
        document.getElementById('step-3').classList.remove('d-none');
        document.getElementById('step-4').classList.add('d-none');

        // Populate the barcode input field with the scanned value
        document.getElementById('barcodeStep3').value = data.barcode;

        fetch(`${window.location.origin}/api/get-options`)
            .then(response => response.json())
            .then(data => {
                const { manufacturers, categories, vendors } = data;
                populateDatalist('vendor-options', vendors);
            });
    }

    function showStep4() {
        document.getElementById('step-1').classList.add('d-none');
        document.getElementById('step-2').classList.add('d-none');
        document.getElementById('step-3').classList.add('d-none');
        document.getElementById('step-4').classList.remove('d-none');
    }


    function populateDatalist(datalistId, options) {
        const datalist = document.getElementById(datalistId);
        datalist.innerHTML = ''; // Clear existing options
        const uniqueOptions = Array.from(new Set(options)); // Remove duplicates

        uniqueOptions.forEach(option => {
            const optionElement = document.createElement('option');
            optionElement.value = option;
            datalist.appendChild(optionElement);
        });
    }

    function checkBarcode(inputField) {
        console.log("Checking barcode");
        barcode = document.getElementById(inputField).value;

        // convert all characters to uppercase
        barcode = barcode.toUpperCase();

        fetch('api/borrow', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ barcode: barcode })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            currentBarcode = barcode;
            console.log('Response from server:', data);

            message = data.message;
            if (message == "Product found") {
                console.log("Product found - naar step 3");
                showStep3(data);

                barcode = '';
                document.getElementById(inputField).value = "";
            } else {
                console.log("Product not found");
                showStep2(data);

                barcode = '';
                document.getElementById(inputField).value = "";
				currentBarcode = '';
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.getElementById("vendor").addEventListener('blur', function(e) {
        const enteredVendor = e.target.value;
        const vendorDatalist = document.getElementById('vendor-options');
        const existingOptions = Array.from(vendorDatalist.children).map(option => option.value);

        if (!existingOptions.includes(enteredVendor)) {
            // Add the entered vendor to the datalist
            const optionElement = document.createElement('option');
            optionElement.value = enteredVendor;
            vendorDatalist.appendChild(optionElement);
        }
    });


    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("barcodeInputField").focus();
    });

    document.addEventListener('click', function() {
        document.getElementById("barcodeInputField").focus();
    });

    var typingTimer;
    var doneTypingInterval = 100;
    var currentBarcode = '';

    document.getElementById("barcodeInputField").addEventListener('input', function() {
        clearTimeout(typingTimer);

        barcode = document.getElementById("barcodeInputField").value;

        typingTimer = setTimeout(function() {
            console.log("Sending this barcode: ", barcode);
            checkBarcode("barcodeInputField");
        }, doneTypingInterval);
    });




    document.getElementById("addProductButton").addEventListener('click', function(e) {
		e.preventDefault();
		if (document.getElementById("quantity-not-available").validity.valid) {
			const title = document.getElementById("product-name").value;
			const price = document.getElementById("price-bought").value;
			const url = document.getElementById("url-bought").value;
			const category = document.getElementById("category").value;
			const description = document.getElementById("description").value;
			const quantity = document.getElementById("quantity").value;
			const quantity_unavailable = document.getElementById("quantity-not-available").value;
			const manufacturer = document.getElementById("manufacturer").value;
			const vendor = document.getElementById("vendor").value;
			const notes = document.getElementById("notes").value;

			fetch('api/add-product', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					barcode: currentBarcode,
					title: title,
					price: price,
					url: url,
					category: category,
					description: description,
					quantity: quantity,
					quantity_unavailable: quantity_unavailable,
					manufacturer: manufacturer,
					vendor: vendor,
					notes: notes
				})
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('Response was not ok');
				}
				return response.json();
			})
			.then(data => {
				console.log('Response from server:', data);
				window.location.href = '/inventory';
			})
			.catch(error => console.error('Error:', error));
		}
	});


    document.getElementById("updateProductButton").addEventListener('click', function(e) {
		e.preventDefault();
		if (document.getElementById("quantity-unavailable-to-add").validity.valid) {
			const quantity = document.getElementById("quantity-to-add").value;
			const quantity_unavailable = document.getElementById("quantity-unavailable-to-add").value;
			const price = document.getElementById("latest-price").value;
			const vendor = document.getElementById("vendor").value;
			const url = document.getElementById("latest-url").value;

			fetch('api/update-product', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					barcode: currentBarcode,
					quantity: quantity,
					quantity_unavailable: quantity_unavailable,
					price: price,
					vendor: vendor,
					url: url
				})
			})
			.then(response => {
				if (!response.ok) {
					throw new Error('Response was not ok');
				}
				return response.json();
			})
			.then(data => {
				console.log('Response from server:', data);
				window.location.href = '/inventory';
			})
			.catch(error => console.error('Error:', error));
		}
	});

	// Initial call to set max attributes on page load
	updateMaxQuantityNotAvailable();
	updateMaxQuantityUnavailableToAdd();

</script>
{% endblock javascripts %}
