<!DOCTYPE html>
<html>
<body>


<input name="barcodeInput" id="barcodeInputField" value="" onfocus="this.value=''"  />
<div id="displayText"></div>


<script>
    console.log("HELLO");
    var barcode = '';
    var typingTimer; // Timer identifier
    var doneTypingInterval = 50; // Time in milliseconds (1 second)

    // autofocus the input field
    document.getElementById("barcodeInputField").focus();

    document.getElementById("barcodeInputField").addEventListener('input', function() {
        // Clear the previous timer
        clearTimeout(typingTimer);
        // clear input field after sending barcode

        // Get barcode from input field
        barcode = document.getElementById("barcodeInputField").value;

        // Set a new timer to send the barcode after a certain amount of time
        typingTimer = setTimeout(function() {
            console.log("Deze barcode sturen: ", barcode);

        // Send the barcode to the server
        fetch('/api/barcode-scanning', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ barcode: barcode })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        // Parse the JSON from the response
        .then(data => {
            console.log('Response from server:', data);

            // Update the HTML with the updated string received from the API
            document.getElementById("displayText").innerHTML = data.data;

            // Clear the input field after processing
            document.getElementById("barcodeInputField").value = "";
        })

        .catch(error => console.error('Error:', error));
        }, doneTypingInterval);
    });



</script>