{% extends 'layouts/base.html' %}

{% block title %} Borrowed {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

  .toggleContainer {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border: 3px solid #000080;
   border-radius: 20px;
   background: #000080;
   font-weight: bold;
   color: #343434;
   cursor: pointer;
   align-self: center;
   align-items:center;
 }
 .toggleContainer::before {
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background: white;
   transition: all 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }
 .toggleContainer div {
   padding: 6px;
   text-align: center;
   z-index: 1;
 }
 .toggleCheckbox {
   display: none;
 }

 label, .form-label {
  margin:0px !important;
 }
 .toggleCheckbox:checked + .toggleContainer div:first-child{
   color: white;
   transition: color 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer div:last-child{
   color: #000080;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:first-child{
   color: #000080;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
 }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="d-flex align-items-center justify-content-between">
          {% if session['role'] == 'admin' %}
            <h1>Borrowed Items</h1>
          {% else %}
            <h1>Your Borrowed Items</h1>
          {% endif %}
        <div class="d-flex gap-3 mx-10 align-items-center">
          <div>
            <input type="checkbox" id="toggle" class="toggleCheckbox"/>
            <label for="toggle" class="toggleContainer">
            <div>All</div>
            <div>Overdue</div>
          </label>
        </div>
          <a class="btn btn-dark m-0" href="/return">Return an item</a>
          <span></span>
        </div>
      </div>
      <div class="col-12" id="results">

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script>
  document.getElementById('toggle').addEventListener('change', function() {
    var url = this.checked ? '/inventory/borrowed/1  ' : '/inventory/borrowed/0';
    htmx.ajax('GET', url, { target: '#results' });
  });

  // Initial load
  htmx.ajax('GET', '/inventory/borrowed/0', { target: '#results' });
</script>

{% endblock javascripts %}
