{% extends 'layouts/base-start.html' %}

{% block title %} Borrow {% endblock title %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-10 mt-8 gap-5">
        <div class="py-5 col-lg-4 col-md-6 col-sm-10 text-center ">
            <h3 class="mb-2">Scan items to borrow</h3>
            <div class="visually-hidden">
                <input name="barcodeInput" id="barcodeInputField" value="" onfocus="this.value=''" />
            </div>
            <tr class="container px-0 w-100">
                <td class="col-7">
                    <div class="">
                      <img src="https://static.thenounproject.com/png/74445-200.png" alt="">
                    </div>
                  </td>
            </tr>


        </div>
        <div class="container-fluid align-items-center col-lg-4 col-md-6 col-sm-10 mx-0">

            <div class="card text-left">
                <div class="table-responsive p-0" style="max-height: 450px;">
                    <table class="table align-items-center mb-0 p-3">
                        <thead class="mt-n2 sticky-top bg-white" style="height: 5px">
                            <tr >
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Product</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Quantity</th>
                              <th></th>
                            </tr>
                        </thead>
                    <tbody id="tableBody">
                    </tbody>
                    </table>
                    <div class="text-center mt-3 mb-2">
                        <button class="btn btn-light w-50 mx-auto" id="no-barcode">Can't find a Barcode?    </button>
                    </div>
                </div>
            </div>



            <div class="container-fluid d-flex text-center justify-content-center align-items-center mt-2">
                <a type="button" class="btn btn-outline-danger  mt-2 mb-4 " href="/inventory" onclick="clearBarcode();clearProjectDate();">Cancel</a>
                <form autocomplete="off" method="POST">
                    <input type="hidden" name="borrow_data" id="borrowData">
                    <button type="submit" class="btn btn-dark ms-3 mt-2 mb-4" id="continue" name="continue">Continue</button>
                </form>
            </div>

        </div>

    </div>


{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function deleteRow(link) {
        // Find the closest row to the clicked link and delete
        var row = link.closest('tr');
        row.remove();

        // Get the barcode of the item to be deleted
        var barcode = row.querySelector('input').getAttribute('data-barcode');
        delete addedBarcodes[barcode];

        // Disable the continue button if there are no items scanned
        if (Object.keys(addedBarcodes) == 'null') {
            document.getElementById("continue").disabled = true;
        }
    }

    function incrementQuantity(barcode, addedBarcodes) {
         // Get the current value of the quantity input for the corresponding barcode
        var quantityInput = document.getElementById(`${barcode}`);
        var currentQuantity = addedBarcodes[barcode];

        console.log("currentQuantity: ", currentQuantity);
        if (currentQuantity < item_quantity) {

            // Increment the quantity
            quantityInput.value = currentQuantity + 1;
            addedBarcodes[barcode] = currentQuantity + 1;
        }
        else {
            Swal.fire({
                title: "You have already scanned this item",
                html: "Ask an employee for help",
                timer: 2200,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("c");
                    timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
            })
        }
    }

    function createElement(tag, classes = [], attributes = {}, content = '') {
        // Create an element with the specified tag, classes, attributes and content
        const element = document.createElement(tag);
        Object.entries(attributes).forEach(([key, value]) => element.setAttribute(key, value));

        if (classes.length) {
            element.classList.add(...classes);
        }
        if (content) {
          element.textContent = content;
        }

        return element;
    }

    function addTableRow(barcode, item_name, item_quantity, notFound) {
        body = document.getElementById('tableBody');

        // If item is scanned, enable continue button
        if (addedBarcodes != {}) {
            document.getElementById("continue").disabled = false;
        }

        // Get the current quantity or default to 1
        var quantity = addedBarcodes[barcode] || 1;

        // Create a new table row with the item name, quantity input and delete link
        const row = createElement('tr');
        const nameCell = createElement('td', ['col-7']);
        const nameDiv = createElement('div', ['d-flex', 'px-2', 'py-1']);
        const nameColumn = createElement('div', ['d-flex', 'flex-column', 'justify-content-center']);
        const itemName = createElement('h6', ['mb-0', 'text-sm', 'text-wrap', 'item-name'], {}, item_name);

        nameColumn.appendChild(itemName);
        nameDiv.appendChild(nameColumn);
        nameCell.appendChild(nameDiv);
        row.appendChild(nameCell);

        const quantityCell = createElement('td');
        const quantityDiv = createElement('div', ['col-3', 'input-group']);
        const quantityInput = createElement('input', ['form-control', 'p-1'], {
            type: 'number',
            min: '1',
            max: item_quantity,
            'data-barcode': barcode,
            id: barcode,
            value: quantity,
            onkeydown: 'preventKeyboardInput(event)'
        });

        quantityInput.addEventListener('focus', focused);
        quantityInput.addEventListener('focusout', defocused);
        quantityDiv.appendChild(quantityInput);
        quantityCell.appendChild(quantityDiv);
        row.appendChild(quantityCell);

        const deleteCell = createElement('td', ['align-middle', 'col-2']);
        const deleteLink = createElement('a', ['text-secondary', 'font-weight-bold', 'text-xs'], {
            href: 'javascript:;',
            'data-toggle': 'tooltip',
            'data-original-title': 'Delete item'
        }, 'Delete');
        deleteLink.addEventListener('click', () => deleteRow(deleteLink));
        deleteCell.appendChild(deleteLink);
        row.appendChild(deleteCell);

        tableBody.appendChild(row);

        addedBarcodes[barcode] = quantity;
    }

    function preventKeyboardInput(event) {
      event.preventDefault();
    }

    function addBarcode(barcode) {
        // Send the barcode to the server
        fetch('api/borrow', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ barcode: barcode })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            message = data.message;
            if (message == "Product found") {
                // When barcode found in database, get name and quantity
                item_name = data.name;
                item_quantity = data.quantity;
                barcode = data.barcode;
                if (item_quantity != 0) {
                    // Check if barcode already exists on the screen
                    if (barcode in addedBarcodes) {
                        // if (item_quantity == addedBarcodes[barcode]) {
                            // Swal.fire({
                            //     title: "You have already scanned this item",
                            //     html: "Ask an employee for help",
                            //     timer: 2200,
                            //     timerProgressBar: true,
                            //     didOpen: () => {
                            //         Swal.showLoading();
                            //         const timer = Swal.getPopup().querySelector("c");
                            //         timerInterval = setInterval(() => {
                            //             timer.textContent = `${Swal.getTimerLeft()}`;
                            //         }, 100);
                            //     },
                            //     willClose: () => {
                            //         clearInterval(timerInterval);
                            //     }
                            // })
                        // }
                        // else{
                            // Increment quantity for existing barcode
                        incrementQuantity(barcode, addedBarcodes);
                        // }
                    }
                    else {
                        // Add new barcode to screen and dictionary
                        addedBarcodes[barcode] = 1;
                        addTableRow(barcode, item_name, item_quantity);
                    }
                }
                document.getElementById("barcodeInputField").value = "";
            }
            else if (message == "Product not available"){
                    // When quantity is 0
                    Swal.fire({
                        title: "This item is out of stock",
                        html: "Ask an employee for help",
                        timer: 2200,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading();
                            const timer = Swal.getPopup().querySelector("c");
                            timerInterval = setInterval(() => {
                                timer.textContent = `${Swal.getTimerLeft()}`;
                            }, 100);
                        },
                        willClose: () => {
                            clearInterval(timerInterval);
                        }
                        })

                    // Clear the input field after processing
                    barcode = '';
                    document.getElementById("barcodeInputField").value = "";
            }
            else {
                // When barcode not found in database
                Swal.fire({
                                    title: "Barcode not found",
                                    html: "Ask an employee for help",
                                    timer: 2200,
                                    timerProgressBar: true,
                                    didOpen: () => {
                                        Swal.showLoading();
                                        const timer = Swal.getPopup().querySelector("c");
                                        timerInterval = setInterval(() => {
                                            timer.textContent = `${Swal.getTimerLeft()}`;
                                        }, 100);
                                    },
                                    willClose: () => {
                                        clearInterval(timerInterval);
                                    }
                                    })
                barcode = '';
                document.getElementById("barcodeInputField").value = "";
                console.log("Barcode not found");
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function clearBarcode() {
        fetch('api/clear_barcode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
    }

    function clearProjectDate() {
        fetch('api/clear_project_date', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
    }

    var barcode = '';
    var item_name = '';
    var addedBarcodes = {};

    var typingTimer;
    var doneTypingInterval = 50;

    const tableBody = document.querySelector('tbody');

    document.addEventListener('DOMContentLoaded', (event) => {
        fetch('api/get_barcode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Response from server:', data);
            barcodes = data.barcodes;
            clearBarcode();
            for (const barcode of barcodes) {
                addBarcode(barcode);
            }
        });
    })

    // Disable continue button on loading page, when no items are scanned
    document.getElementById("continue").disabled = true;

    // autofocus input field on loading page
    document.getElementById("barcodeInputField").focus();

    // autofocus input field on every click everywhere on the page
    document.addEventListener('click', function() {
        document.getElementById("barcodeInputField").focus();
    });

    // Change value in dict if quantity is manually changed
    document.addEventListener('input', function(event) {
        // Only if quantity of product is not higher than max quantity
        if (event.target.tagName === 'INPUT') {
            var barcode = event.target.getAttribute('data-barcode');
                addedBarcodes[barcode] = parseInt(event.target.value);
        }
    });

    // Whenever a barcode is scanned
    document.getElementById("barcodeInputField").addEventListener('input', function() {
        // Clear the previous timer
        clearTimeout(typingTimer);
        barcode = document.getElementById("barcodeInputField").value;

        // Set a new timer to handle barcode input after a certain amount of time
        typingTimer = setTimeout(function() {
            addBarcode(barcode);
        }, doneTypingInterval);
    });

    document.getElementById("continue").addEventListener('click', function() {
        var borrowDataString = JSON.stringify(addedBarcodes);
        document.getElementById("borrowData").value = borrowDataString;
        document.getElementById("borrowForm").submit();
    });

    // Sweet alert
    function openSearchModal() {
        Swal.fire({
            title: 'Search Items',
            html: `
                <div class="p-3">
                    <input id="search-input" type="text" class="input form-control" placeholder="Search items..." name="q" autocomplete="off">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <tbody id="results">
                            </tbody>
                        </table>
                    </div>
                </div>
            `,
            showCloseButton: true,
            showCancelButton: false,
            showConfirmButton: false,
            didOpen: () => {
                const input = document.getElementById('search-input');
                input.focus();

                // Ensure focus is restored if lost
                const restoreFocus = () => setTimeout(() => input.focus(), 0);
                input.addEventListener('blur', restoreFocus);

                let debounceTimeout;
                $('#search-input').on('keyup change', function() {
                    clearTimeout(debounceTimeout);
                    debounceTimeout = setTimeout(() => {
                        const query = $(this).val();
                        $.ajax({
                            url: '/inventory/search/borrow',
                            type: 'GET',
                            data: { q: query },
                            success: function(response) {
                                $('#results').html(response);
                            },
                            error: function(xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }, 250);
                });

                // Ensure the event listener is removed when the modal is closed
                Swal.getPopup().addEventListener('remove', () => {
                    input.removeEventListener('blur', restoreFocus);
                });
            },
            didClose: () => {
                document.getElementById("barcodeInputField").focus();
            }
        });
    }

    document.getElementById('no-barcode').addEventListener('click', function() {
        openSearchModal();
    });
</script>

{% endblock javascripts %}