{% extends 'layouts/base-start.html' %}

{% block title %} Borrow {% endblock title %}
{% block content %}

<section class="min-vh-100">

  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card text-center pt-4">

                <form class="p-4" role="form text-left" method="post" action="">


                  {{ form.hidden_tag() }}

                  <label>For which project do you need the assets?</label>
                  <div class="mb-3">
                    {{ form.project(placeholder="Project", class="form-control", type="text") }}
                  </div>

                  <label>Add a return date</label>
                  <div class="mb-3">
                    {{ form.estimated_return_date(placeholder="Return date", class="form-control datepicker", type="date") }}
                  </div>

                  <div class="text-center">
                      <button type="submit" class="btn btn-dark w-50 mt-2" id="continue" name="continue">Continue</button>
                  </div>

                  <div class="text-center mt-3">
                    <a type="button" class="btn btn-outline-danger w-30" href="/borrow">Back</a>
                  </div>



                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block javascripts %}
<script>
     // Calculate tomorrow's date
     var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 7);

    if (document.querySelector('.datepicker')) {
      flatpickr('.datepicker', {
        mode: "single",
        dateFormat: "U",
        altInput: true,
        altFormat: "d-m-Y",
        minDate: "today",
        maxDate: new Date().fp_incr(90),
        // allowInput: true,
      });
    }

  </script>
  <style>
    div > div.flatpickr-days > div > span.flatpickr-day.today{
      background: #ffffff !important;
      color: black; 
      border: 1px solid #67748e;
      pointer-events: none;
    }
    div.flatpickr-innerContainer > div > div.flatpickr-days > div > span.flatpickr-day.selected{
      background: #67748e !important;
    }
  </style>

{% endblock javascripts %}

