{% extends 'layouts/base-start.html' %}

{% block title %} Borrow {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100 gap-5">
        <div class="py-5 col-lg-4 col-md-6 col-sm-10 text-center ">
            <h3 class="mb-2">Scan your items</h3>
            <tr class="container px-0 w-100">
                <td class="col-7">
                    <div class="">
                      <img src="https://static.thenounproject.com/png/74445-200.png" alt="">
                    </div>
                  </td>
            </tr>
        </div>
        <div class="container-fluid align-items-center col-lg-4 col-md-6 col-sm-10 mx-0">
            <div class="card text-left">
                <div class="table-responsive p-0 " style="max-height: 450px;">
                    <table class="table align-items-center mb-0 p-3">

                    <tbody></tbody>

                    </table>
                    <div class="text-center">
                        <button type="button" class="btn btn-dark w-50 mt-2 mb-4" id="test">Continue</button>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a type="button" class="btn btn-outline-danger opacity-25 w-25 mt-2 mb-4 btn-sm" href="/dashboard">Cancel</a>
            </div>
        </div>

    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>

  <!-- Script importen die barcodes verkrijgt -->
  <script src="app/apps/scripts/barcode.js"></script>

  <script>

    var addButton = document.getElementById("test");
    addButton.addEventListener('click', function() {
      addTableRow();
    });

    function deleteRow(link) {
      // Find the closest row to the clicked link
      var row = link.closest('tr');
      row.remove();
  }

    const tableBody = document.querySelector('tbody');

    // adds new tablerow
    function addTableRow() {
      tableBody.innerHTML += `
        <tr>

          <td class="col-7">
              <div class="d-flex px-2 py-1">
              <div class="d-flex flex-column justify-content-center">

                  <h6 class="mb-0 text-sm text-wrap">Apple MacBook Air M1 2022 </h6>
                  <!-- <h6 class="mb-0 text-sm text-wrap" id="first-item"></h6> -->

              </div>
              </div>
          </td>

          <td class="align-middle col-2">
              <a href="javascript:;" class="text-secondary font-weight-bold text-xs" onclick="deleteRow(this)" data-toggle="tooltip" data-original-title="Delete item">
              Delete
              </a>
          </td>

        </tr> `
    }



  </script>

{% endblock javascripts %}
