{% extends 'layouts/base-start.html' %}

{% block title %} Edit Product {% endblock title %}

{% block content %}

<div class="container-fluid py-4 mt-6">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4" style="max-width: 900px; margin: 0 auto;">
        <div class="card-body px-4 pt-4 pb-2">
          {% if session['role'] == 'admin' %}
          <h1 class="text-center">Edit product</h1>

          <!-- Step 3 -->
          <form autocomplete="off" method="post" action="api/edit-product">
              <div class="row">
                <!-- First Column -->
                <div class="col-md-4 text-start">
                  <div class="form-group">
                    <label for="title">Product Name</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ product['data'][0].title }}" required>
                  </div>
                  <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <input type="text" class="form-control" id="barcodeStep3" name="barcode" value="{{ product['data'][0].barcode }}" required>
                  </div>

                  <div class="form-group">
                    <label for="price">Price €</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="price" name="price" placeholder="50.00" value="{{ product['data'][0].price_when_bought }}" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" name="description" rows="3">{{ product['data'][0].description }}</textarea>
                  </div>
                </div>

                <!-- Second Column -->
                <div class="col-md-4 text-start">
                  <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="{{ product['data'][0].quantity_total }}" required>
                  </div>
                  <div class="form-group">
                    <label for="quantity_unavailable">Quantity Unavailable For Borrowing</label>
                    <input type="number" class="form-control" id="quantity_unavailable" name="quantity_unavailable" min="0" value="{{ product['data'][0].quantity_unavailable }}" required>
                  </div>
                  <div class="form-group">
                    <label for="url">Website URL</label>
                    <input type="text" class="form-control" id="url" name="url" placeholder="www.example.com" value="{{ product['data'][0].url }}" required>
                  </div>
                  <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea type="text" class="form-control" id="notes" name="notes" rows="3">{{ product['data'][0].notes }}</textarea>
                  </div>
                </div>

                <!-- Third Column -->
                <div class="col-md-4 text-start">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select id="categoryDropdown" class="form-control" name="category" required></select>
                  </div>

                  <div class="form-group">
                    <label for="vendor">Vendor</label>
                    <select id="vendorDropdown" class="form-control" name="vendor" required></select>
                  </div>

                  <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select id="manufacturerDropdown" class="form-control" name="manufacturer" required></select>
                  </div>

                  <div class="form-group">
                    <label for="document_url">Document URL</label>
                    <input type="text" class="form-control" id="document_url" name="document_url" value="{{ product['data'][0].documentation}}">
                  </div>
                </div>
              </div>

              <div class="col-12 text-center mt-3 d-flex gap-3 justify-content-center">
                <button type="button" class="btn btn-dark" style="width: 150px;"  onclick="goBack()">Back</button>
                <button type="button" class="btn btn-danger" style="width: 150px;" id="delete-btn">Delete Product</button>
                <button type="submit" class="btn btn-success" style="width: 150px;">Save Changes</button>
              </div>

          </form>
          {% else %}
          <h1>Permission denied</h1>
          <p>Please login as admin.</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>

    function goBack() {
      window.history.back();
    }

    function loadDropdown(dropdownId, url, selectedValue) {
        const dropdown = document.getElementById(dropdownId);
        dropdown.innerHTML = '';
        fetch(url)
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name;
                    if (item.name === selectedValue) {
                        option.selected = true;
                    }
                    dropdown.add(option);
                });
            })
            .catch(error => console.error('Error loading dropdown:', error));
    }
    const product_id = "{{ product['data'][0].id }}";

    function editProduct() {
      const form = document.querySelector('form');
      const formData = new FormData(form);
      const data = Object.fromEntries(formData.entries());

      fetch('/api/edit-product', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          data: data,
          id: product_id
        })

      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          Swal.fire({
              title: "Product details successfully changed!",
              icon: "success",
              html: "",
              timer: 1200,
              timerProgressBar: true,
              didOpen: () => {
                  Swal.showLoading();
                  const timer = Swal.getPopup().querySelector("c");
                  timerInterval = setInterval(() => {
                      timer.textContent = `${Swal.getTimerLeft()}`;
                  }, 100);
              },
              willClose: () => {
                  clearInterval(timerInterval);
                }
          })
          .then(function (result) {
              if (result.dismiss === Swal.DismissReason.timer) {
				        window.location.replace("/reload/inventory");
              }
          });
        }
      })
    }

  function deleteProduct() {
    Swal.fire({
      title: "Do you really want to delete this product?",
      icon: "warning",
      showDenyButton: true,
      showCancelButton: true,
      showConfirmButton: false,
      denyButtonText: `Delete`
    }).then((result) => {
      if (result.isDenied) {
        fetch('/api/delete-product', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            id: product_id
          })

        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              Swal.fire({
                title: "Product deleted!",
                icon: "success",
                html: "",
                timer: 1200,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading();
                  const timer = Swal.getPopup().querySelector("c");
                  timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                  }, 100);
                },
                willClose: () => {
                  clearInterval(timerInterval);
                }
              })
                .then(function (result) {
                  if (result.dismiss === Swal.DismissReason.timer) {
                    window.location.replace("/reload/inventory");

                  }
                });
            }
            else {
              Swal.fire({
                        title: "Error!",
                        text: data.message,
                        icon: "error",
                        showConfirmButton: true
                    });
            }
          });

      }
    })
  }

    // Populate dropdowns
    document.addEventListener('DOMContentLoaded', function() {
        const category = "{{ product['data'][0].category_name }}";
        const vendor = "{{ product['data'][0].vendor_name }}";
        const manufacturer = "{{ product['data'][0].manufacturer_name }}";

        loadDropdown('categoryDropdown', '/api/category/dropdown', category);
        loadDropdown('vendorDropdown', '/api/vendor/dropdown', vendor);
        loadDropdown('manufacturerDropdown', '/api/manufacturer/dropdown', manufacturer);
    });

    // Add event listener to price field to format input
    document.getElementById('price').addEventListener('blur', function(event) {
        let inputValue = event.target.value;

        // Remove non-numeric characters and multiple decimal points
        inputValue = inputValue.replace(/[^0-9.]/g, '');
        inputValue = inputValue.replace(/(\..*)\./g, '$1');

        // If the input ends with a decimal point followed by no digits, append '.00'
        if (inputValue.endsWith('.')) {
            inputValue += '00';
        } else if (!inputValue.includes('.')) {
            // If the input has no decimal point, append '.00'
            inputValue += '.00';
        }

        event.target.value = inputValue;
    });

    document.getElementById('price').addEventListener('input', function(event) {
        let inputValue = event.target.value;

        // Remove non-numeric characters and multiple decimal points
        inputValue = inputValue.replace(/[^0-9.]/g, '');
        inputValue = inputValue.replace(/(\..*)\./g, '$1');

        // Allow only 2 digits after the decimal point
        const decimalIndex = inputValue.indexOf('.');
        if (decimalIndex !== -1) {
            const decimalPart = inputValue.substring(decimalIndex + 1);
            if (decimalPart.length > 2) {
                inputValue = inputValue.substring(0, decimalIndex + 3);
            }
        }

        event.target.value = inputValue;
    });

    // Add event listener to quantity fields to allow only numbers
    document.getElementById('quantity').addEventListener('input', function(event) {
        const inputValue = event.target.value;
        event.target.value = inputValue.replace(/\D/g, '');
    });

    // Add event listener to allow quantity unavailable to only be less than or equal to quantity
    document.getElementById('quantity_unavailable').addEventListener('input', function(event) {
        const maxQuantity = parseInt(document.getElementById('quantity').value);
        let inputValue = event.target.value;
        if (isNaN(maxQuantity)) {
            maxQuantity = 0;
        }
        inputValue = inputValue.replace(/\D/g, '');
        event.target.value = Math.min(parseInt(inputValue), maxQuantity);
    });

    // Send form on submit
    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        editProduct();
    });

    document.getElementById('delete-btn').addEventListener('click', function(event) {
      event.preventDefault();
      deleteProduct();
    });


</script>
{% endblock javascripts %}