<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Overview</title>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <div style="background-color: #ffffff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px;">
            <h2>Borrow Overview</h2>
            <p>Dear {{ session.name }},</p>
            <p>Here is a summary of the items you have borrowed from the Maintenance Lab on {{ borrowed_date }} for your project: {{ session.project }}</p>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border: 1px solid #dddddd; background-color: #f2f2f2; text-align: left; padding: 8px;">Item</th>
                        <th style="border: 1px solid #dddddd; background-color: #f2f2f2; text-align: left; padding: 8px;">Quantity</th>
                        <th style="border: 1px solid #dddddd; background-color: #f2f2f2; text-align: left; padding: 8px;">Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item, quantity in session.addedProducts.items() %}
                    <tr>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ item }}</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ quantity }}</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p style="margin-top: 20px;">Thank you for using Leeny. If you have any questions, feel free to contact us.</p>
        </div>
    </div>
</body>
</html>
