{% extends 'layouts/base.html' %}

{% block title %}
  Home
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %}

{% block content %}
  <div class="container-fluid d-flex justify-content-center mt-6 w-75">
    <div class="row py-4 pb-5">
        <div class="card bg-gradient-white py-4 pb-5 px-5">
          <div class="text-center">
            <h2 class="my-4 ">Click to start</h2>
            <a href="/borrow"><button class="btn btn-lg btn-dark mx-2 mb-4" style="height: 100px">Borrow items</button></a>
            <a href="/return"><button class="btn btn-lg btn-dark mx-2 mb-4" style="height: 100px">Return items</button></a>
          </div>
        </div> 
      </div>
    </div>
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
