{% extends 'layouts/base.html' %}

{% block title %}
  Home
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="">
          <div class="">
            <div class="card bg-gradient-white">
              <div class="text-center">
                <h2 class="my-4 ">Start Scanning</h2>
                <a href="/borrow_rfid"><button class="btn btn-lg bg-gradient-info mx-2 mb-4" style="height: 100px">Borrow item(s)</button></a>
                <a href="/return_rfid"><button class="btn btn-lg bg-gradient-info mx-2 mb-4" style="height: 100px">Return item(s)</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
