{% extends 'layouts/base.html' %}

{% block title %} Inventory {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="d-flex align-items-center justify-content-between">
        <h1>Inventory</h1>
        <div class="d-flex gap-3">
          <a class="btn btn-dark m-0" href="/borrow">Borrow an item</a>     
          <div>
            <input type="text" class="input form-control" placeholder="Search..." name="q" hx-get="/inventory/search" hx-trigger="load, keyup changed delay:250ms" hx-target="#results">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Item</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manufacturer</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody id="results">
                  <!-- Inventory Results -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
