{% extends 'layouts/base.html' %}

{% block title %} Inventory {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .dt-search {
    margin-right: 28px;
    height: 29px;
    position: absolute;
    width: 191px;
    top:-51px;
    right:-34px;
    border-radius: 0.5rem !important;
    line-height: 2rem !important;
  
  }
  
  #dt-search-0 {
    height: 40px;
    width: 191px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d2d6da;
    padding-left: 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: #495057;
    background-color: #ffffff !important;
  
  }
  
  div.dt-container.dt-empty-footer tbody > tr:last-child > * {
      border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
  }
  
  .dt-paging-button {
    padding: 0.5em 0.2em !important;
  }
  
  .dt-search input {
    border-radius: 8px !important;
    padding: 3px 0px !important;
    text-indent: 10px !important;
  }
  
  .page-item.active .page-link {
    background-color: #000080 !important;
    border-color: #000080 !important;
  }
  
  .dt-paging .dt-paging-button:hover {
    background: transparent !important;
    border: 1px solid transparent !important;
  }

  #inventory-list_wrapper > div:nth-child(3) > div.col-md-auto.ms-auto > div > ul > li:nth-child(5) {
    background: transparent !important;
    border-color: #000080 !important; 
    border: 1px solid transparent !important;
  }
  
  div.dt-container {
    margin-top: -15px;
  }
  
  #inventory-list_wrapper > div:last-of-type {
        height: 57px;
  }
</style>
  
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">

    <div class="row">
      <div class="d-flex align-items-center justify-content-between ">
        <h1>Inventory</h1>
        <div class="d-flex gap-3 mx-10">
          <a class="btn btn{% if session['role'] == 'admin' %}-outline{% endif %}-dark m-0" href="/borrow">Borrow an item</a>
          {% if session['role'] == 'admin' %}
          <a class="btn btn-dark m-0" href="/add-product">Add items</a>  
          {% endif %}
          <span hx-get="/inventory/search" hx-trigger="load" hx-target="#results">

      </div>
      </div>
      <div class="col-12 mt-2">
          <div class=" px-0 pt-0 pb-2">
              <div class="dataTable-wrapper dataTable-loading">
                <div class="dataTable-container card px-2 py-1">
                  <table class="table table-flush dataTable-table" id="inventory-list">
                    <thead class="thead-light">
                      <tr>
                        <th>
                          Item
                        </th>
                        <th>
                          Manufacturer
                        </th>
                        <th class="text-center">
                          Available quantity
                        </th>
                        <th>
                  
                        </th>
                      </tr>
                    </thead>
                    <tbody id="results">
                      
                    </tbody>
                  </table>
                </div>
              </div>

          </div>

      </div>
    </div>  
  </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
