{% extends 'layouts/base.html' %}

{% block title %} Details {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="card-body mt-5">
    <div class="row" id="results">
    </div>
</div>
<span hx-get="/item/load/{{data}}" hx-trigger="load" hx-target="#results">
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        fetch(`${window.location.origin}/api/authenticate_admin`)
            .then(response => response.json())
            .then(data => {
                if (data.role === 'admin') {
                    document.getElementById('edit-product-button').style.display = 'block';
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>



{% endblock javascripts %}
