{% extends 'layouts/base.html' %}

{% block title %}
  Orders
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
.dt-search {
  margin-right: 20px;
  height: 29px;
}
.dt-search input {
  border-radius: 8px !important;
  padding: 3px 0px !important;
  text-indent: 10px !important;
}

.page-item.active .page-link {
  background-color: #344767 !important;
  border-color: #344767 !important;
}

.dt-paging .dt-paging-button:hover {
  background: transparent !important;
  border: 1px solid transparent !important;
}
</style>


{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Orders</h1>
            <div class="d-flex gap-4">
              <div class="d-flex gap-2 " data-toggle="buttons">
                <button class="btn btn-dark mb-0" hx-get="/orders/load/1" hx-trigger="click" hx-target="#results">My orders</button>
                <button class="btn btn-light mb-0 active" hx-get="/orders/load/0" hx-trigger="click" hx-target="#results">All</button>
              </div>
              <a class="btn btn-dark m-0" href="/orders/new">Start an order</a>
              <span hx-get="/orders/load/0" hx-trigger="load" hx-target="#results">
            </div>
          </div>
      <div class="col-12">
        <div class="">
          <div class="card-body px-0 pt-0 pb-2">
            <div class="p-0">
              <div class="dataTable-wrapper dataTable-loading">
                <div class="dataTable-container">
                  <table class="table table-flush dataTable-table" id="products-list">
                    <thead class="thead-light">
                      <tr>
                        <th>
                          Order Id
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          Project
                        </th>
                        <th>
                          By
                        </th>
                      </tr>
                    </thead>
                    <tbody id="results">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock %}
