{% extends 'layouts/base.html' %}

{% block title %}
  Orders
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Orders</h1>
            <div class="d-flex gap-3">
              <a class="btn btn-dark m-0" href="/borrow">Start an order</a>     
              <span hx-get="/orders/load" hx-trigger="load" hx-target="#results">
            </div>
          </div>
      <div class="col-12">
        <div class=" mb-4">
          <div class="card-body px-0 pt-0 pb-2">
            <div class="p-0">
              <div class="dataTable-wrapper dataTable-loading">
                <div class="dataTable-container">
                  <table class="table table-flush dataTable-table" id="products-list">
                    <thead class="thead-light">
                      <tr>
                        <th>
                          Order Id
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          Product
                        </th>
                        <th>
                          By
                        </th>
                        <th>
                          Quantity
                        </th>
                        <th>
                          Status
                        </th>
                      </tr>
                    </thead>
                    <tbody id="results">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock %}
