{% extends 'layouts/base-start.html' %}

{% block title %} Return {% endblock title %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100 gap-5">
        <div class="py-5 col-lg-4 col-md-6 col-sm-10 text-center ">
            <h3 class="mb-2">Scan your items</h3>
            <div class="visually-hidden">
                <input name="barcodeInput" id="barcodeInputField" value="" onfocus="this.value=''" />
            </div>
            <tr class="container px-0 w-100">
                <td class="col-7">
                    <div class="">
                      <img src="https://static.thenounproject.com/png/74445-200.png" alt="">
                    </div>
                  </td>
            </tr>
        </div>
        <div class="container-fluid align-items-center col-lg-4 col-md-6 col-sm-10 mx-0">
            <div id="notFoundText"></div>
            <div class="card text-left">
                <div class="table-responsive p-0 " style="max-height: 450px;">
                    <table class="table align-items-center mb-0 p-3">

                    <tbody></tbody>

                    </table>
                    <form autocomplete="off" method="POST">
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark w-50 mt-2 mb-4" id="continue" name="continue">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a type="button" class="btn btn-outline-danger w-30 mt-2 mb-4 " href="/borrowed">Back</a>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}

<script>
    function deleteRow(link) {
        // Find the closest row to the clicked link and delete
        var row = link.closest('tr');
        row.remove();

        // Get the barcode of the item to be deleted
        var barcode = row.querySelector('input').getAttribute('data-barcode');
        delete addedBarcodes[barcode];

        // Disable the continue button if there are no items scanned
        if (Object.keys(addedBarcodes) == 'null') {
            document.getElementById("continue").disabled = true;
        }
    }

    function incrementQuantity(barcode, addedBarcodes, borrowed_quantity) {
         // Get the current value of the quantity input for the corresponding barcode
        var quantityInput = document.getElementById(`${barcode}`);
        var currentQuantity = addedBarcodes[barcode];

        console.log("currentQuantity: ", currentQuantity);
        if (currentQuantity < borrowed_quantity) {

            // Increment the quantity
            quantityInput.value = currentQuantity + 1;
            addedBarcodes[barcode] = currentQuantity + 1;
        }
        else {
            Swal.fire({
                title: "Already scanned this borrowed item",
                html: "Ask an employee for help",
                timer: 2200,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("c");
                    timerInterval = setInterval(() => {
                        timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
            })
        }
    }

    function createElement(tag, classes = [], attributes = {}, content = '') {
        // Create an element with the specified tag, classes, attributes and content
        const element = document.createElement(tag);
        Object.entries(attributes).forEach(([key, value]) => element.setAttribute(key, value));

        if (classes.length) {
            element.classList.add(...classes);
        }
        if (content) {
          element.textContent = content;
        }

        return element;
    }

    function addTableRow(barcode, item_name, borrowed_quantity) {
        // If item is scanned, enable continue button
        if (addedBarcodes != {}) {
            document.getElementById("continue").disabled = false;
        }

        // Get the current quantity or default to 1
        var quantity = addedBarcodes[barcode] || 1;

        // Create a new table row with the item name, quantity input and delete link
        const row = createElement('tr');
        const nameCell = createElement('td', ['col-7']);
        const nameDiv = createElement('div', ['d-flex', 'px-2', 'py-1']);
        const nameColumn = createElement('div', ['d-flex', 'flex-column', 'justify-content-center']);
        const itemName = createElement('h6', ['mb-0', 'text-sm', 'text-wrap', 'item-name'], {}, item_name);

        nameColumn.appendChild(itemName);
        nameDiv.appendChild(nameColumn);
        nameCell.appendChild(nameDiv);
        row.appendChild(nameCell);

        const quantityCell = createElement('td');
        const quantityDiv = createElement('div', ['col-3', 'input-group']);
        const quantityInput = createElement('input', ['form-control', 'p-1'], {
            type: 'number',
            min: '1',
            max: borrowed_quantity,
            'data-barcode': barcode,
            id: barcode,
            value: quantity,
            onkeydown: 'preventKeyboardInput(event)'
        });

        quantityInput.addEventListener('focus', focused);
        quantityInput.addEventListener('focusout', defocused);
        quantityDiv.appendChild(quantityInput);
        quantityCell.appendChild(quantityDiv);
        row.appendChild(quantityCell);

        const deleteCell = createElement('td', ['align-middle', 'col-2']);
        const deleteLink = createElement('a', ['text-secondary', 'font-weight-bold', 'text-xs'], {
            href: 'javascript:;',
            'data-toggle': 'tooltip',
            'data-original-title': 'Delete item'
        }, 'Delete');
        deleteLink.addEventListener('click', () => deleteRow(deleteLink));
        deleteCell.appendChild(deleteLink);
        row.appendChild(deleteCell);

        tableBody.appendChild(row);

        addedBarcodes[barcode] = quantity;
    }

    function notFoundText(notFound, available, message, item_name=null) {
        if (notFound && notFound.nodeType === Node.ELEMENT_NODE) {
            // Remove existing content from notFound div
            while (notFound.firstChild) {
                notFound.removeChild(notFound.firstChild);
            }

            // Create a new text node with the message
            message = message + (item_name || '');

            // Append the text node to the notFound div
            const textNode = document.createTextNode(message);
            notFound.appendChild(textNode);
        }
    }

    function foundText(notFound) {
        if (notFound && notFound.nodeType === Node.ELEMENT_NODE) {
            // Remove existing content from notFound div
            while (notFound.firstChild) {
                notFound.removeChild(notFound.firstChild);
            }
        }
    }

    function preventKeyboardInput(event) {
      event.preventDefault();
    }

    function clearBarcode() {
        fetch('api/clear_barcode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
    }

    function addBarcode(barcode) {
        console.log("SENDINGH: ", barcode);
        // Send the barcode to the server
        fetch('api/return', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ barcode: barcode })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Response from server:', data);

            message = data.message;
            if (message == "Product found") {
                // When barcode found in database, get name and quantity
                item_name = data.name;
                borrowed_quantity = data.quantity;
                quantity = addedBarcodes[barcode] || 1;

                // Check if quantity user wants to return is less than or equal to borrowed quantity
                if (borrowed_quantity >= quantity) {
                    foundText(notFound);

                    if (barcode in addedBarcodes) {
                        // Increment quantity for existing barcode
                        incrementQuantity(barcode, addedBarcodes, borrowed_quantity);
                    } else {
                        // Add new barcode to screen and dictionary
                        addedBarcodes[barcode] = 1;
                        addTableRow(barcode, item_name, borrowed_quantity);
                    }
                }
                else {
                    notFoundText(notFound, false, "Quantity to return is higher than borrowed quantity for: ", item_name);
                    console.log("Quantity to return is higher than borrowed quantity");
                }

                // Clear the input field after processing
                barcode = '';
                document.getElementById("barcodeInputField").value = "";
            }
            else if (message == "Product not found") {
                // When barcode not found
                Swal.fire({
                    title: "You didn't borrow this item",
                    html: "Ask an employee for help",
                    timer: 2200,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("c");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${Swal.getTimerLeft()}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                })

                barcode = '';
                document.getElementById("barcodeInputField").value = "";
                console.log("Barcode not found");
            }
            else {
                // When barcode not found in database
                Swal.fire({
                    title: "Barcode not found",
                    html: "Ask an employee for help",
                    timer: 2200,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("c");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${Swal.getTimerLeft()}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                })

                barcode = '';
                document.getElementById("barcodeInputField").value = "";
                console.log("Barcode not found");
            }
        })
        .catch(error => console.error('Error:', error));
    }

    var barcode = '';
    var item_name = '';
    var addedBarcodes = {};

    var typingTimer;
    var doneTypingInterval = 50;

    const tableBody = document.querySelector('tbody');
    const notFound = document.getElementById('notFoundText');

    // Disable continue button on loading page, when no items are scanned
    document.getElementById("continue").disabled = true;

    // autofocus input field on loading page
    document.getElementById("barcodeInputField").focus();

    // autofocus input field on every click everywhere on the page
    document.addEventListener('click', function() {
        document.getElementById("barcodeInputField").focus();
    });

    // Change value in dict if quantity is manually changed
    document.addEventListener('input', function(event) {
        // only if quantity of product is not higher than max quantity
        if (event.target.tagName === 'INPUT') {
            var barcode = event.target.getAttribute('data-barcode');
                addedBarcodes[barcode] = parseInt(event.target.value);
        }
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        fetch('api/get_barcode', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .then(data => {
            barcodes = data.barcodes;
            clearBarcode();
            for (const barcode of barcodes) {
                addBarcode(barcode);
            }
        });
    })

    // Whenever a barcode is scanned
    document.getElementById("barcodeInputField").addEventListener('input', function() {
        // Clear the previous timer
        clearTimeout(typingTimer);
        barcode = document.getElementById("barcodeInputField").value;

        // Set a new timer to handle barcode input after a certain amount of time
        typingTimer = setTimeout(function() {
            addBarcode(barcode);
        }, doneTypingInterval);
    });

    document.getElementById("continue").addEventListener('click', function() {
        console.log("continue clicked");
        console.log("added barcodes 3: ", addedBarcodes);

        // Send to blueprint in routes.py in webapp
        fetch('api/return2', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },

            // Send last version of addedBarcodes to server
           body: JSON.stringify({ addedBarcodes: addedBarcodes })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .catch(error => console.error('Error:', error));
    });
</script>

{% endblock javascripts %}