{% extends 'layouts/base-start.html' %}

{% block title %} Borrow {% endblock title %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100 gap-5">
        <div class="py-5 col-lg-4 col-md-6 col-sm-10 text-center ">
            <h3 class="mb-2">Scan your items</h3>
            <div class="visually-hidden">

                <form role="form text-left" method="post" action="" id="uid_form">
                    {{ form.hidden_tag() }}
                    <h6>
                        {{ form.item_uid(placeholder="Card UID", class="form-control", id="item_uid") }}

                    </h6>
                </form>
            </div>


            <tr class="container px-0 w-100">
                <td class="col-7">
                    <div class="">
                      <img src="https://static.thenounproject.com/png/74445-200.png" alt="">
                    </div>
                  </td>
            </tr>
        </div>
        <div class="container-fluid align-items-center col-lg-4 col-md-6 col-sm-10 mx-0">
            <div id="notFoundText"></div>
            <div class="card text-left">
                <div class="table-responsive p-0 " style="max-height: 450px;">
                    <table class="table align-items-center mb-0 p-3">

                    <tbody></tbody>

                    </table>
                    <form method="POST">
                        <div class="text-center">
                            <button type="submit" class="btn btn-dark w-50 mt-2 mb-4" id="continue" name="continue">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a type="button" class="btn btn-outline-danger w-30 mt-2 mb-4 " href="/borrowed">Cancel</a>
            </div>
        </div>

    </div>


{% endblock content %}


{% block javascripts %}
<script>
    function deleteRow(link) {
        // Find the closest row to the clicked link and delete
        var row = link.closest('tr');
        row.remove();

        // Get the uid of the item to be deleted
        var uid = row.querySelector('input').getAttribute('data-rfid');
        delete addedUIDs[uid];

        // Disable the continue button if there are no items scanned
        if (Object.keys(addedUIDs) == 'null') {
            document.getElementById("continue").disabled = true;
        }
    }

    function incrementQuantity(uid, addedUIDs, borrowed_quantity) {
         // Get the current value of the quantity input for the corresponding uid
        // var quantityInput = document.getElementById(`${uid}`);
        var quantityInput = document.getElementById(uid);
        var currentQuantity = addedUIDs[uid];

        console.log("currentQuantity: ", currentQuantity);
        if (currentQuantity < borrowed_quantity) {

            // Increment the quantity
            quantityInput.value = currentQuantity + 1;
            addedUIDs[uid] = currentQuantity + 1;
        }
    }

    function createElement(tag, classes = [], attributes = {}, content = '') {
        // Create an element with the specified tag, classes, attributes and content
        const element = document.createElement(tag);
        Object.entries(attributes).forEach(([key, value]) => element.setAttribute(key, value));

        if (classes.length) {
            element.classList.add(...classes);
        }
        if (content) {
          element.textContent = content;
        }

        return element;
    }

    function addTableRow(uid, item_name, borrowed_quantity) {
        // If item is scanned, enable continue button
        if (addedUIDs != {}) {
            document.getElementById("continue").disabled = false;
        }

        // Get the current quantity or default to 1
        var quantity = addedUIDs[uid] || 1;

        // Create a new table row with the item name, quantity input and delete link
        const row = createElement('tr');
        const nameCell = createElement('td', ['col-7']);
        const nameDiv = createElement('div', ['d-flex', 'px-2', 'py-1']);
        const nameColumn = createElement('div', ['d-flex', 'flex-column', 'justify-content-center']);
        const itemName = createElement('h6', ['mb-0', 'text-sm', 'text-wrap', 'item-name'], {}, item_name);

        nameColumn.appendChild(itemName);
        nameDiv.appendChild(nameColumn);
        nameCell.appendChild(nameDiv);
        row.appendChild(nameCell);

        const quantityCell = createElement('td');
        const quantityDiv = createElement('div', ['col-3', 'input-group']);
        const quantityInput = createElement('input', ['form-control', 'p-1'], {
            type: 'number',
            min: '1',
            max: borrowed_quantity,
            'data-rfid': uid,
            id: uid,
            value: quantity
        });

        quantityInput.addEventListener('focus', focused);
        quantityInput.addEventListener('focusout', defocused);
        quantityDiv.appendChild(quantityInput);
        quantityCell.appendChild(quantityDiv);
        row.appendChild(quantityCell);

        const deleteCell = createElement('td', ['align-middle', 'col-2']);
        const deleteLink = createElement('a', ['text-secondary', 'font-weight-bold', 'text-xs'], {
            href: 'javascript:;',
            'data-toggle': 'tooltip',
            'data-original-title': 'Delete item'
        }, 'Delete');
        deleteLink.addEventListener('click', () => deleteRow(deleteLink));
        deleteCell.appendChild(deleteLink);
        row.appendChild(deleteCell);

        tableBody.appendChild(row);

        addedUIDs[uid] = quantity;
    }

    function notFoundText(notFound, available, item_name=null) {
        if (notFound && notFound.nodeType === Node.ELEMENT_NODE) {
            // Remove existing content from notFound div
            while (notFound.firstChild) {
                notFound.removeChild(notFound.firstChild);
            }

            // Create a new text node with the message
            let message;
            if (available == true) {
                message = 'Item not found';
            } else {
                message = 'Item not available for borrowing, pls return: ' + (item_name || '');
            }

            // Append the text node to the notFound div
            const textNode = document.createTextNode(message);
            notFound.appendChild(textNode);
        }
    }

    function foundText(notFound) {
        if (notFound && notFound.nodeType === Node.ELEMENT_NODE) {
            // Remove existing content from notFound div
            while (notFound.firstChild) {
                notFound.removeChild(notFound.firstChild);
            }
        }
    }


    const tableBody = document.querySelector('tbody');
    const notFound = document.getElementById('notFoundText');

    // Disable continue button on loading page, when no items are scanned
    document.getElementById("continue").disabled = true;

    // autofocus input field on loading page
    document.getElementById("uid_form").focus();

    // autofocus input field on every click everywhere on the page
    document.addEventListener('click', function() {
        document.getElementById("uid_form").focus();
    });

    var current_uid = '';
    var item_name = '';
    var addedUIDs = {};

    // Change value in dict if quantity is manually changed
    document.addEventListener('input', function(event) {
        // Only if quantity of product is not higher than max quantity
        if (event.target.tagName === 'INPUT') {
            var uid = event.target.getAttribute('data-rfid');
                addedUIDs[uid] = parseInt(event.target.value);
        }
    });


    // Get uid
    var interval_id = setInterval(fetchUID, 1000);
    function fetchUID() {
        fetch('/get_uid')
            .then(response => response.json())
            .then(data => {
            // document.getElementById('uid').innerHTML = data.uid
            document.getElementById('item_uid').value = data.uid
            current_uid = data.uid

            if (data.uid !== null) {
                clearInterval(interval_id); // Stop fetching
                console.log('UID: ' + data.uid);


                // Send uid to server
                fetch('api/return_rfid', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ uid: current_uid })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Response was not ok');
                    }
                    return response.json();
                })
            .then(data => {
                console.log('Response from server:', data);

                message = data.message;
                if (message == "Product found") {
                    // When uid found in database, get name and quantity
                    item_name = data.name;
                    borrowed_quantity = data.quantity;
                    quantity = addedUIDs[current_uid] || 1;

                    console.log("borrowed_quantity: ", borrowed_quantity);
                    console.log("quantity: ", quantity);

                    if (borrowed_quantity >= quantity) {
                        foundText(notFound);
                        // Check if uid already exists on the screen
                        if (current_uid in addedUIDs) {
                            // Increment quantity for existing uid
                            incrementQuantity(current_uid, addedUIDs, borrowed_quantity);
                        } else {
                            // Add new uid to screen and dictionary
                            addedUIDs[current_uid] = 1;
                            addTableRow(current_uid, item_name, borrowed_quantity);
                        }
                    }
                    else {
                        notFoundText(notFound, false, item_name);
                        console.log("Quantity to return is higher than borrowed quantity");
                    }

                    console.log("added uids 2: ", addedUIDs)

                    // Continue fetching uids
                    interval_id = setInterval(fetchUID, 1000);
                }
                else {
                    // When uid not found
                    notFoundText(notFound, true);
                    console.log("Uid not found");
                }
            })
            .catch(error => console.error('Error:', error));

                // document.getElementsByTagName('form')[0].submit();
                // console.log('Form submitted');
            }
        })
        .catch(error => console.error('Error fetching UID:', error))
    }


    document.getElementById("continue").addEventListener('click', function() {
        console.log("continue clicked");
        console.log("added uids 3: ", addedUIDs);

        fetch('api/return_rfid2', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },

            // Send last version of addedUIDs to server
           body: JSON.stringify({ addedUIDs: addedUIDs })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Response was not ok');
            }
            return response.json();
        })
        .catch(error => console.error('Error:', error));
    });
</script>

{% endblock javascripts %}





