{% extends 'layouts/base-start.html' %}

{% block title %} Start {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="fixed-plugin ps">
        <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" href="/admin/login"> 
            <i class="fa fa-cog py-2" aria-hidden="true">  </i> 
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="card py-5 col-lg-4 col-md-6 col-sm-10 text-center ">
            <h1>Email Verification</h1>
            <form role="form text-left" method="post" action="" class="mx-7 mt-4 email">
                {{ form.hidden_tag() }}

                <label>Fill in the code from your email</label>
                <div class="email">
                    <span>{{ form.code_1 }}</span>
                    <span>{{ form.code_2 }}</span>
                    <span>{{ form.code_3 }}</span>
                    <span>{{ form.code_4 }}</span>
                </div>
                <div class="text-center">
                    <button type="submit" name="login" class="btn btn-dark w-100 h-100">Verify Code</button>
                </div>
            </form>
            <hr class="mx-7 my-3">
        </div>
        
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
