{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main class="main-content">

    <section class="min-vh-100">

      <div class="container mt-7">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">

              <div class="card-header text-center pt-4">
                <h5>Register Account</h5>
              </div>

              <div class="row px-xl-5 px-sm-4 px-3">

                <div class="mt-2 position-relative text-center">
                  <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 px-3">
                    {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                      Add your credentials
                    {% endif %}
                  </p>
                </div>

              </div>

              <div class="card-body">

                  {% if step==1 %}

                  <span>Step 1</span>

                    <form autocomplete="off" role="form text-left" method="post" action="">

                      {{ form.hidden_tag() }}

                        <label>Full Name</label>
                        <div class="mb-3">
                          {{ form.fullname(placeholder="Full name", class="form-control", value=session.fullname) }}
                        </div>
                        <label>Email</label>
                        <div class="mb-3">
                          {{ form.email(placeholder="Email", class="input form-control", type="email", value=session.email) }}
                        </div>

                        <div class="text-center">
                          <button type="submit" name="step2" class="btn bg-gradient-dark w-100 my-4 mb-2">Next step</button>
                        </div>

                        <div class="text-center">
                          <a href="{{ url_for('webapp_blueprint.start') }}" class="btn bg-gradient-secondary w-100 mt-4 mb-0">Back to start</a>
                        </div>

                    </form>
                  {% endif %}

                  {% if step==2 %}

                  <span>Step 2</span>

                    <form autocomplete="off" role="form text-left" method="post" action="">

                      {{ form.hidden_tag() }}

                        <label>Study Programme</label>
                        <div class="mb-3">
                          {{ form.study(placeholder="Study Programme", class="form-control", value=session.study) }}
                        </div>
                        <label>Faculty</label>
                        <div class="mb-3">
                          {{ form.faculty(placeholder="Faculty", class="form-control", value=session.faculty) }}
                        </div>

                        <div class="text-center">
                          <button type="submit" name="step3" class="btn bg-gradient-dark w-100 my-4 mb-2">Next step</button>
                        </div>

                        <div class="text-center">
                          <button type="submit" name="step1" class="btn bg-gradient-secondary w-100 mt-4 mb-0">Back</button>
                        </div>

                    </form>
                  {% endif %}



                  {% if step==3 %}

                    <span>Step 3</span>

                    <form autocomplete="off" role="form text-left" method="post" action="">

                      {{ form.hidden_tag() }}

                        <div class="mb-3">
                          {{ form.uid_1(placeholder="card_id", class="form-control", id="uid_1") }}
                        </div>

                        <div class="text-center">
                          <button type="submit" name="finalize" class="btn bg-gradient-dark w-100 my-4 mb-2" id="finalize_button">Create Account</button>
                        </div>

                        <div class="text-center">
                          <button type="submit" name="step2" class="btn bg-gradient-secondary w-100 mt-4 mb-0">Back</button>
                        </div>

                    </form>
                  {% endif %}

                  {% if msg %}
                    <div class="text-center">
                      <a href="{{ url_for('webapp_blueprint.start') }}" class="btn bg-gradient-secondary w-100 mt-4 mb-0">Back to start</a>
                    </div>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}
