<!-- Begin alerts -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

    {% if category == 'admin-login'%}
    <script>
        // // Set sweet alert to scan card
        // // Check if all required fields are filled
        // if (!form.checkValidity()) {
        //           // If not, trigger the form validation
        //           form.reportValidity();
        // }
          Swal.fire({
              title: "Scan Admin Card",
              text: "Please scan an admin card for authentication.",
              imageUrl: "https://static.thenounproject.com/png/74445-200.png",
              imageWidth: 300,
              imageHeight: 300,
              imageAlt: "Admin Card Image",
              showConfirmButton: false,
              showCancelButton: true,
              cancelButtonText: "Go back",
          });
      
          // Turn on the scanner
          var interval_id = setInterval(fetchUID, 1000);
          function fetchUID() {
              fetch('/get_uid')
                  .then(response => response.json())
                  .then(data => {
                      console.log('UID: ' + data.uid);
      
                      if (data.uid !== null) {
                          clearInterval(interval_id);
                          authenticateUser(data.uid);
                      }
                  })
                  .catch(error => console.error('Error fetching UID:', error));
          }
      
          // Authenticate the found uid
          function authenticateUser(uid) {
              fetch(`${window.location.origin}/api/authenticate_admin`, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ uid: uid })
              })
              .then(response => {
                  console.log(response);
                  if (response.ok) {
                      return response.json();
                  } else {
                      throw new Error('Failed to authenticate user.');
                  }
              })
              .then(data => {
                  if (data.authenticated && data.role === 'admin') {
                    window.location.href = '/home';
                    } else {
                        Swal.fire({
                        title: "No Admin Card",
                        icon: "warning",
                        text: "Please scan an admin card for authentication.",
                        showConfirmButton: false,
                        showCancelButton: true,
                        cancelButtonText: "Go back",
                        });
                    }
                })
          }
      
      
      
      </script>
    {% endif%}





    {% if category == 'cancel' %}
        <script>
        var swal_options = {"title": "Success!",
                            "text": "{{ message.text }}",
                            "icon": "{{message.category}}"

                            };
        Swal.fire({

                title:swal_options.title,
                // success , error , warning ,info

                text: swal_options.text,
                // Custom message flashed from your flask routes

                icon: swal_options.icon,
                // success , error , warning ,info
        });
        </script>
        {% endif %}

        {% if category == 'Login' %}
        <script>
            Swal.fire({
            title: "Scan your card",
            text: "",
            imageUrl: "https://static.thenounproject.com/png/74445-200.png",
            imageWidth: 300,
            imageHeight: 300,
            imageAlt: "Custom image",
            showConfirmButton: false,
            showCancelButton: true,
            cancelButtonText: "Go back",
            });

            var interval_id = setInterval(fetchUID, 1000);
            function fetchUID() {
            fetch('/get_uid')
                .then(response => response.json())
                .then(data => {
                // document.getElementById('uid').innerHTML = data.uid
                document.getElementById('uid_1').value = data.uid
                console.log('UID: ' + data.uid);

                if (data.uid !== null) {
                    clearInterval(interval_id); // Stop fetching
                    // document.getElementsById('uid_form').submit();
                    // document.getElementsByTagName('form')[0].submit();
                    document.getElementById('finalize_button').click();
                }
                })
                .catch(error => console.error('Error fetching UID:', error))
                // .then(result => {document.getElementsByTagName('form').target.submit()});
            }
        </script>
        {% endif %}

        {% if category == 'Timer' %}
            <script>
            let timerInterval;
                Swal.fire({
                title: "Welcome <b>{{message.user}}</b>",
                html: "Succesfully logged in!",
                timer: 800,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("c");
                    timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
                }).then(function (result) {
                if (result.dismiss === swal.DismissReason.timer) {
                    window.location.href = "/{{message.location}}";
                }
                });
            </script>
        {% endif %}
        {% if category == 'TimerBorrowed' %}
            <script>
            let timeInterval;
                Swal.fire({
                title: "Borrow successful completed!",
                html: "",
                timer: 800,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();
                    const timer = Swal.getPopup().querySelector("c");
                    timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                    }, 100);
                },
                willClose: () => {
                    clearInterval(timerInterval);
                }
                }).then(function (result) {
                if (result.dismiss === swal.DismissReason.timer) {
                    window.location.href = "/{{message.location}}";
                }
                });
            </script>
    {% endif %}
        {% if category == 'General' %}
        <script>
            var swal_options = {"title": "{{ message.title }}",
                                "text": "{{ message.text }}",
                                "icon": "{{message.category}}"
                                };
            Swal.fire({

                    title:swal_options.title,
                    // success , error , warning ,info

                    text: swal_options.text,
                    // Custom message flashed from your flask routes

                    icon: swal_options.icon,
                    // success , error , warning ,info
            });
            </script>
        {% endif %}
        {% if category == 'ConfirmOrder' %}
            <script>
                Swal.fire({
                title: "",
                text: "Are you sure you want to cancel this order?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "No, go back",
                cancelButtonText: "Yes, cancel order",
                }).then((result) => {
                if (!result.isConfirmed) {
                    window.location.href = "/orders/clear_cart";
                }
                });
            </script>
        {% endif %}

{% endfor %}
{% endif %}
{% endwith %}

 <!-- End alerts -->

<script>
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
</script>

